<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>All Games</title>
</head>
<body>
    <main>
        <h2>All Games</h2>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Quantity</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(game => { %>
                <tr>
                    <td><%= game.number %></td>
                    <td><%= game.name %></td>
                    <td><%= game.year %></td>
                    <td><%= game.quantity %></td>
                    <td><%= game.genre %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>