<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Result</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
    <main>
        <h1>Query Result</h1>
        <p><span class="legend">Number:</span> <%= result.number %></p>
        <p>Name: <%= result.name %></p>
        <p>Year: <%= result.year %></p>
        <p>Quantity: <%= result.quantity %></p>
        <p>Genre: <%= result.genre %></p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>